/* start main */
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  
  
}

/* start linke seite main */
main {
  background-color: #fff;
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_text {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  height: 380px;
  width: 500px;
}
.main_text h1 {
  align-self: flex-end;
  grid-column: 1/3;
  grid-row: 1;
  font-size: 32px;
  text-align: center;
  color: #162735;
  font-family: "Playfair Display", serif;
}
.main_text p {
  align-self: flex-start;
  grid-column: 1/3;
  grid-row: 2;
  font-size: 15px;
  text-align: center;
  color: rgb(43, 40, 40);
  font-family: "Inter", sans-serif;
}

/* ende linke seite main */
/* house png */
.house {
  height: 650px;
  justify-self: center;
}

.moving {
  animation: slide-in 1s;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* ende png */
/* ende Main */